.logo {
    padding-left: 0px;
    padding-top: 10px;
    z-index:2;
}
.logodiv{
width: 100px;
}
.classTitle{
    color: #06245c; 
    font-size: 18px; 
    font-family: poppins
}
#na a{
    color: white;
}
#na a:hover {
    color: #ffffff;
    text-decoration:none !important;
    outline: none;
}
.navItem{
    padding-left: 100px;
}
*{
    outline: none;
    outline-style: none;
}
#na :visited :focus :hover{
    outline: none;
    text-decoration: none !important;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #06245c!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu.show {
    display: block;
    margin-left: -140px;
}
#na{
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
}
.navbar{
    padding-right: 50px;
}



@media only screen and (max-width: 600px) {
    .classTitle{
        color: #06245c;
        font-size: 14px; 
        font-family: poppins;
    }
    img{
        width: 220px;
    }
    .navbar{
        padding-right: 60px;
    }
   .navToggle{
       margin-right: -50px;
   }
   .dropdown-menu.show {
    display: block;
    margin-left: 0px;
   }
  .dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #06245c !important;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
 }
 .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin-left: -50px;
 }
}